<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>coupons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="coupons" [fullscreen]="true">
  <ion-card
    *ngFor="let coupon of coupons; let last=last"
    [ngClass]="{'last-coupon': last}"
  >
    <ion-img [src]="coupon.img"></ion-img>
    <ion-card-header>
      <ion-card-title>{{coupon.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>{{coupon.discount}} %</ion-label>
        <ion-button (click)="changeActive(coupon)" slot="end">
          {{ coupon.active ? 'Desactivar' : 'Activar'}}
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button [disabled]="!couponsActive" (click)="goToCard()">
      <ion-icon name="card-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
